:root {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Couleurs de base */
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LE FIX EST ICI : On force le body à prendre toute la place */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: block; /* Surtout pas de flex ici */
}

/* On s'assure que la "racine" de React prend aussi toute la place */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none; /* Important pour annuler la limite par défaut de Vite */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}